.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: #282c34;
  height: 60px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #282c34;
  color: white;
  height: 100%;
  width: 1024px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textLogo {
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  height: 40px;
  font-family: serif;
  user-select: none;
}

.title {
  font-size: 1.5rem;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  filter: drop-shadow(0 0 5px #61dafb);
  color: #61dafb;
  transition: color 0.3s ease;
}

.link.active {
  color: #61dafb;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}
