.footer {
  background-color: #333;
  color: #fff;
  padding: 16px;
  text-align: center;
  min-height: 70px;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  gap: 0.6rem;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer a {
  color: #1e90ff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer a:hover {
  text-decoration: none;
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px #1e90ff);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.footer .social-icons {
  margin-top: 10px;
}

.footer .social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: #fff;
}

.footer .social-icons a:hover {
  color: #1e90ff;
}
